black           # PEP8 formatter
black[jupyter]  # PEP8 formatter for Jupyter NB
fastapi         # API
pylint          # great linter
pytest          # unit tests
pytest-cov      # unit tests, cover a specific function
pyyaml          # YAML support
transformers    # Hugging Face transformers
notebook        # Jupyter Notebook
