black                   # PEP8 formatter
black[jupyter]          # PEP8 formatter for Jupyter NB
discord                 # Discord API
pylint                  # great linter
python-dotenv           # .env file support
pyyaml                  # YAML support
requests                # HTTP requests
